<div class="lesson-title"><%= lesson.escape("title") %></div><br>

<!-- <% if (lesson.sublessons()) { %>
  YES SUBLESSONS
<% } else { %>
  NO
<% } %> -->

<% lesson.sublessons().forEach(function(sublesson) { %>
  <%= sublesson.escape("title") %><br><br>
  <%= sublesson.escape("body") %><br><br>
<% }) %>

<% if (lesson.quizzes()) { %>
  Lesson Quiz<br>
  <% lesson.quizzes().first().questions().forEach(function(question) { %>
    <br><%= question.escape("body") %><br><br>
    <form class="quiz-form">
      <% question.answers().forEach(function(answer) { %>
        <input type="radio" value="<%= answer.escape('correct')%>"><%= answer.escape("body") %><br>
      <% }) %>
  <% }) %>
  <input type="submit" value="Submit">
  </form>
<% } %>

