<div class="all-content-text">

  <div class="content-lesson-title"><%= lesson.escape("title") %></div><br>

  <% lesson.sublessons().forEach(function(sublesson) { %>
  
    <div class="content-sublesson-title"><%= sublesson.escape("title") %></div><br>
    <%= sublesson.escape("body") %><br><br>
  <% }) %>

  <% if (lesson.quizzes()) { %>
    Lesson Quiz
    <% if (lesson.get("locked")) { %>
      <i>(Hint: Submit the quiz to unlock the next lesson!)</i><br>
    <% } else { %>
      <i>(Solve the quiz to review the lesson!)</i><br>
    <% } %>
    
    <% lesson.quizzes().first().questions().forEach(function(question) { %>
      <br><%= question.escape("body") %><br><br>
      <form class="quiz-form">
        <% question.answers().forEach(function(answer) { %>
          <input type="radio" name="<%=question.escape('id')%>" value="<%= answer.escape('correct')%>"><%= answer.escape("body") %><br>
        <% }) %>
    <% }) %>
    <br>
    <input type="submit" value="Submit">
    </form>
  <% } %>
  <br><br>
  
</div>