<head>
<link rel="shortcut icon" href="/versal-favicon.ico" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<script type="application/json" id="bootstrapped_course_json">
  <%= @courses.to_json.html_safe %>
</script>
<script type="application/json" id="bootstrapped_current_user_json">
  <%= current_user.to_json.html_safe %>
</script>
<div class="container">
<header>
  <div class="versal-logo">versal </div>
  <div class="user-log-in">
    <% if !current_user.nil? %>
      <ul>
        <li>Logged in as: <%= current_user.username %></li>
        <li><%= button_to "Logout", session_url, :method => :delete %></li>
      </ul>
    <% else %>
    <form role="form" action="<%= session_url %>" method="post">
      <div class="form-group">
        <input
          name="authenticity_token"
          type="hidden"
          value="<%= form_authenticity_token %>">
      </div>
      <div class="form-group">
        <input 
          id="user_username"
          name="user[username]"
          value="guest"
          type="hidden">
      </div>
      <div class="form-group">
        <input
          id="user_password"
          name="user[password]"
          value="helloworld"
          type="hidden">
      </div>
      <div class="log-in-as-guest-button">
      <button type="submit" class="btn btn-success">Log In as Guest</button>
      </div>
    </form>
    <% end %>
  </div>
</header>

<div class="content-container">
  <div class="sidebar">
    <div class="course-title-show"></div>
    <div class="lesson-title-show"></div>
  </div>
  <div class="view">
    <div class="sublesson-title-show"></div>
    <div class="content-show"></div>
  </div>
</div>
<footer>© 2014 Jessica J. Kim</footer>
</div>